//@import "mixines";
//@import "fonts";
@import "grid";
@import "variables";
//@import "media";
//@import "rwd";

* {
	box-sizing: border-box;
}

body, html {
    color: $font-color-black;
    background-color: $rose-color;
	width: 100vw;
    margin: 0px auto;
	padding: 0;
	font-size: $default-font-size;
	font-family: 'Redressed', cursive;
	}
.container {
    width: 1000px;
    margin: 0px auto;
    border: 1px solid green;
    height: 100%;
}
header {
	height: 135px;
	background-color: $violet-color;
	p {
		height: 100%;
		display: inline-block;
		font-weight: 500;
		font-size: 60px;
		text-align: left;
		font-family: 'Redressed', cursive;
		margin: 0;
		margin-left: 1em;
		margin-top: 0.5em;
	}
} 
.header-left {
	height: 100%;
}
.header-logo-right {
	height: 135px;
	img {
		height: 135px;
		width: auto;
		float: right;
		margin: 0;
		margin-right: 2em;
	}
}
.clock {
	height: 30px;
	background-color: $dark-pink-color;
	.js-clock {
		line-height: 30px;
		color: white;
		float: right;
		margin-right: 2em;
		font-family: 'Redressed', cursive;
		font-size: 1.2em;
	}
}
.main {
	height: 510px;
	.table-main {
		padding: 0 2%;
		table {
			width: 100%;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			border: 1px solid $dark-pink-color;
			
		}
		tr:nth-child(even) {
			background-color: #e3e3e3;
	
		}
		td{
			text-align: left;
			height: 30px;
			border-left: 1px solid $dark-pink-color;
			vertical-align:middle;
			border-collapse: collapse;
		}
		td:first-child {
			text-align: center;border-left: none;
		}
		th {
			height: 40px;
			text-align: left;
			vertical-align: middle;
			border-bottom: 1px solid $dark-pink-color;
			border-collapse: inherit;
			font-size: 1.2em;
		}
	}
}
.font-italica {
	font-family: 'Redressed', cursive;
	font-size: 40px;
	margin: 0;
}
.main {
	height: 550px;
}
.del {
	background-color: $dark-pink-color;
	width: 28px;
	height: 28px;
	font-family: "Times New Roman", Times, serif;
	border-radius: 50%;
	border: 2px solid $dark-pink-color;
	display: block;
	color: white;
	text-align: center;
	cursor: pointer;
}
.right-main {
	padding: 0 10%;;
	article {
		height: 300px;
		text-align: left;
		margin: 0 auto;
		border: 1px solid $dark-pink-color;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-size: 20px;
		padding: 0 3%;
	}
	a {
		cursor: pointer;
		font: .5em;
		font-size: 1.4em;
		
	}
	form {
		margin: 0 auto;
		width: 100%;
		label {
			font-size: 1.5em;
		}
		input[type="text"], input[type="email"] {
			display: inline-block;
			background-color: transparent;
			border: 1px solid $dark-pink-color;
			line-height: 2em;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			margin-bottom: 0.7em;
			margin-left: 1em;
			width: auto;
			height: 45px;
			color: #a099a1;
			font-family: 'Redressed', cursive;
			font-size: 1.5em;
			text-indent: 0.5em;
		}
		input[type="text"]:before {
			content: "lalala";
		}
		input[type="submit"] {
			background-color: $dark-pink-color;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			box-decoration-break: none;
			width: 170px;
			height: 40px;
			margin: auto 0;
			color: white;
			font-size: 1.4em;
			font-family: 'Redressed', cursive;
		}
	}
}
footer {
	background-color: $violet-color;
	height: 87px;
	position: absolute;
	bottom: 0px;
	left: 0;
	div{
		display: inline-block;
		height: 100%;
		line-height: 87px;
		font-size: 1.3em;
		float: right;
		&:first-child {
			float: left;
		}
	}
}